
<div class="container" style="margin-top:40px;">
	
	<div class="row">
		<div class="col-md-3" >
			<img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
		</div>

		<div class="col-md-8">

			<h2> About Me </h2>
			<p style="text-align : justify">

			Everyday is an opportunity to learn something new not merely for myself and my own future but society’s as well. My goal is to continue learning and developing my expertise in my future role. <br/><br/>

			My name is Jeno Rigor. <br/><br/>

			I am a highly organized, thorough and motivated IT professional with more than 3 years’ experience in a software development role. I am currently employed as a Software Architect in which I am responsible for designing, developing, maintaining, and improving different company software and web applications. <br/><br/>

			I possess strong analytical and problem-solving skills, with a high level of attention to detail. I am adept at working on multiple assignments simultaneously, performing support and analysis roles across a large range of development and maintenance projects, and customer service activities. These have included designing, coding, testing and implementing applications, and performing diagnosis and troubleshooting functions. <br/><br/>

			Here are my contact details: <br/>
			Linkedin Profile: Jeno Rigor  <br/>
			Email Address: jenorigor@gmail.com

			</p>
		</div>
	</div>
</div>